{% extends 'base.html.twig' %}

{% block title %}
	{{event.name}}
	-
	{{parent()}}
{% endblock %}

{% block body %}


	<h1 class=" text-center ">Bienvenue sur l'event
		{{event.name}}</h1>

	{% if event.poster %}
		<img class="card-img-top " src="{{asset('image/events/' ~ event.poster )}}" alt="{{event.name}}">
	{% endif %}
{% endblock %}
